nav {
    display:grid;
    width: 20%;
    height: 100% - 30px;
    margin: 20px;
    padding: 20px;
    background-color: #8fac3a;
    box-shadow: inset 5px 5px #0000006b;
}

nav button {
    font-family: 'ubuntu';
    margin-top: 20px;
    font-size: 15px;
    padding: 5px;
    height: 30px
}